Checks: |-
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  cppcoreguidelines-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  -modernize-use-trailing-return-type,
WarningsAsErrors: "*"
