build*

!build-yocto
!build-yocto/conf
!build-yocto/conf/bblayers.conf
!build-yocto/conf/local.conf
!build-yocto/conf/templateconf.cfg


docker/xilinx*
docker/Xilinx*

.Xil

*.jou
*.log

*.xml
*.html

*.vcd
*.fst
*.hier

*.pb

.ip_user_files
tight_setup_hold_pins.txt

verible.filelist
